<!DOCTYPE html>
<html>
<head>

  <title>memo_space</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>

</head>

<body>

	<div class= "navbar navbar-default">
		<div class = "container">
			<div class = "navbar-header">
				<%= link_to "memo_space", root_path, class: "navbar-brand" %>
			</div>
			<ul class ="nav navbar-nav">
				<li>
					<%= link_to "sign_up",new_user_registration_path %> 
				</li>
				<% if user_signed_in? %>
					<li>
						<%= link_to "sign_out", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"}%> 
					</li>
				<% else%>
					<li>
						<%= link_to "sign_in", new_user_session_path %>
					</li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
					<p>
						<%= link_to new_message_path, class: "navbar-right navbar-text btn btn-default" do %>
						<i class = "glyphicon glyphicon-pencil" ></i>
						<%end %>
					</p>
			<% end %>
		</div>
	</div>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
